@use "import";
.comment-form {
    width:100%;
    min-height: 200px;
}

form.form-horizontal{
    width: 100%;
}

.card-content .control-label{
    padding-top: 0px;
}

.card-content .form-group{
    margin-bottom: 0px;
}
tbody tr td{
    color: #0f0f0f;
}

thead tr th:last-child {
    text-align: left;
}




